.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

body {
    background: #fefefe;
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    line-height: 1.5;
    color: #3A3A3A;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, a:visited {
    color: #5756D5;
}

.header {
    border-top: 5px solid #3A3A3A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.header a, .header a:visited {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: bold;
    margin: 10px;
}

.header a:hover {
    text-decoration: underline;
}

.demo-icon {
    width:  25px;
    height:  25px;
    background-color: #3A3A3A;
    border-radius: 50%;
    color:  white;
    text-align: center;
    display: inline-block;
}

.images-header {
    max-width: 960px;
    margin: 64px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.overwrite-header {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 150px;
}

.overwrite-header .right video {
    max-width: 580px;
    width: 100%;
}

.overwrite-header .left {
    text-align: center;
    padding: 20px;
    max-width: 700px;
}

.overwrite-header .right {
    padding: 20px;
}

.overwrite-app-details .right img {
    max-width: 600px;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    margin: 0;
}

#js-get-started-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#js-get-started-modal .get-started-modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width:  100%;
    position: absolute;
}

#js-get-started-modal .get-started-modal-content {
    background-color: white;
    padding:  60px;
    border-radius: 20px;
    border: 2px solid gainsboro;
    margin: auto;
    z-index: 9999999;
    max-width: 600px;
}

#js-get-started-modal .get-started-modal-content h2 {
    margin: 0;
}

#js-get-started-modal.active {
    display: flex;
}

.overwrite-big-features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
}

.overwrite-big-features h2 {
    padding: 20px 40px;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -1px;
    font-weight: bold;
}

.overwrite-big-feature {
    display: flex;
    align-items: center;
    padding: 60px;
    color:  #3A3A3A;
    width: 100%;
}

.overwrite-big-feature.reverse {
    flex-direction: row-reverse;
}

.overwrite-big-feature img {
    max-width: 400px;
}

.tagline {
    font-size: 20px;
    line-height: 1.2;
}

.overwrite-header .download-link {
    display: inline-block;
    padding: 15px 40px;
    text-decoration: none;
    background-color: #3A3A3A;
    color: white;
    border-radius: 10px;   
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    box-shadow: 0px 1px 4px 0 rgba(100, 100, 100, 0.4);
}

.app-details {
    max-width: 600px;
    margin: 64px auto;
    padding: 8px;
}

.footer {
    max-width: 600px;
    margin: 32px auto;
    text-align: center;
}

.workouts-content {
    max-width: 720px;
    margin: 16px auto;
}

.install-instructions {
    margin-top: 64px;
    margin-bottom: 64px;
}

.workouts-content .hero-image {
    max-width: 100%;
    border-radius: 20px;
}

.workout-category-description {
    font-size: 1.1em;
    text-align: center;
    margin: 32px auto 64px auto;
}

.workout-entry {
    margin: 24px auto;
    padding: 36px 0 24px 0;
    border-top: 1px solid #eaeaea;
}

.workout-details {
    border: 1px solid #eaeaea;
    padding: 16px;
    border-radius: 10px;
}

.workout-step-key {
    width: 95px;
    background-color: #eaeaea;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 4px 8px;
    display: inline-block;
    font-size: 10pt;
    text-align: right;
    margin-right: 8px;
    font-weight: bold;
}

.workout-separator {
    height: 1px;
    background-color: #eaeaea;
}

.workout-cta-container {
    margin-top: 32px;
}

a.workout-cta, a.workout-cta:visited {
    background-color: #5756D5;
    color: white;
    text-decoration: none;
    padding: 16px;
    border-radius: 16px;
    display: inline-block;
    margin-bottom: 16px;
}

.workout-cta-instructions {
    color: #777;
    background-color: #eaeaea;
    padding: 16px;
    border-radius: 16px;
    font-size: 0.9em;
}

@media (max-width: 860px) {
    .header > div:nth-child(2) > a:nth-child(2),
    .header > div:nth-child(2) > a:nth-child(1) {
        display: none;
    }

    .images-header img:not(:first-child) {
        display: none;
    }

    .images-header img {
        width: 60%;
    }

    .overwrite-big-feature, .overwrite-big-feature.reverse {
        flex-direction: column-reverse;
        align-items: center;
        padding: 40px 10px;
    }

    .overwrite-big-feature h2 {
        padding: 20px 10px;
        margin: 0;
        text-align: center;
        font-size: 36px;
    }

    .overwrite-big-feature img {
        height: 200px;
        max-width: 100%;
        /*border-radius: 50%;*/
    }
}


