html{background-color:#f8f8f8;}
body{font-family:'Source Sans Pro',sans-serif;width:50%;max-width:600px;margin-left:25%;margin-right:25%;}
#header{font-size:28px;color:#393b47;}
#header h4{font-size:19px;margin-top:-20px;}
#home{position:fixed;font-size:40px;left:10px;top:10px;padding:5px 5px 5px 5px;background-color:#393b47;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#f8f8f8;}
#home a{text-decoration:none;color:inherit;}
#home:hover{color:#393b47;background-color:#f8f8f8;-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-out;-ms-transition:all 0.4s ease-out;transition:all 0.4s ease-out;}
#content{line-height:1.4;letter-spacing:0px;color:#393b47;font-size:18px;font-weight:400;}
#content a{color:#ca5f7b;}
#content a:hover{-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;color:#f8f8f8;background-color:#ca5f7b;text-decoration:none;}
#footer{margin-top:10%;}
.date{font-weight:600;}
.meta{position:relative;margin-top:2%;left:70%;}
.meta2{display:inline-block;position:relative;margin-top:5%;left:65%;font-style:italic;text-align:right;}
