html{background-color:#f8f8f8;}
body{font-family:'Source Sans Pro',sans-serif;width:50%;max-width:720px;margin-left:25%;margin-right:25%;}
#header{font-size:28px;color:#393b47;}
#header h4{font-size:19px;margin-top:-20px;font-weight:500;}
#header h4 a{color:inherit;opacity:0.7;}
#header h4 a:hover{opacity:1.0;-webkit-transition:all 1s linear;-moz-transition:all 1s linear;-o-transition:all 1s linear;-ms-transition:all 1s linear;transition:all 1s linear;}
#content{line-height:1.4;letter-spacing:0px;color:#393b47;font-size:18px;font-weight:400;}
#content a{color:#26ade4;text-decoration:none;border-bottom:1px solid #26ade4;}
#content a:hover{-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;color:#f8f8f8;background-color:#26ade4;text-decoration:none;}
#footer{margin-top:10%;}
.date{font-weight:600;}
.meta{position:relative;margin-top:2%;left:80%;}
.meta2{display:inline-block;position:relative;margin-top:5%;left:65%;font-style:italic;text-align:right;}
#arrowdown{position:absolute;left:62px;top:85px;color:#393b47;font-size:14px;}
#home{position:fixed;font-size:40px;left:0px;top:0px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#f8f8f8;}
#home a{color:#f8f8f8;background-color:#26ade4;text-decoration:none;color:inherit;}
#home a:hover{opacity:1.0;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;}
#home:hover{-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-out;-ms-transition:all 0.4s ease-out;transition:all 0.4s ease-out;}
#home li{list-style:none;margin-left:0;}
#home ul{list-style:none;margin-left:0;}
ul ul{display:none;opacity:0;}
ul li>ul{display:block;opacity:0;position:absolute;left:0px;-webkit-transition:opacity 0.4s ease-in-out;-moz-transition:opacity 0.4s ease-in-out;-o-transition:opacity 0.4s ease-in-out;-ms-transition:opacity 0.4s ease-in-out;transition:opacity 0.4s ease-in-out;}
ul li:hover>ul{display:block;position:absolute;left:0px;background-color:#f8f8f8;opacity:1.0;}
ul li ul li{-webkit-transition:opacity 0.4s ease-in-out;-moz-transition:opacity 0.4s ease-in-out;-o-transition:opacity 0.4s ease-in-out;-ms-transition:opacity 0.4s ease-in-out;transition:opacity 0.4s ease-in-out;}
ul li ul li:hover{opacity:0.8;-webkit-transition:opacity 0.4s ease-in-out;-moz-transition:opacity 0.4s ease-in-out;-o-transition:opacity 0.4s ease-in-out;-ms-transition:opacity 0.4s ease-in-out;transition:opacity 0.4s ease-in-out;}
.post>h2{margin-bottom:5px;}
.pagination{margin-top:10%;}
#content>.post>h3>a{color:#393b47;background-color:#f8f8f8;text-decoration:none;border-bottom:0px solid #393b47;}
.postcontent{margin-top:18%;}
.indexcontent{margin-top:10%;}
.post{margin-top:5%;}
.category{margin-top:20%;}
.entry{margin-top:-12px;}
