body {
  background: #fefefe;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  color: #010101;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 96px;
}

.demo {
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 6px rgba(95,95,95,0.5);
  -moz-box-shadow: 0 4px 6px rgba(95,95,95,0.5);
  box-shadow: 0 4px 6px rgba(95,95,95,0.5);
  width: 96%;
  max-width: 512px;
  margin: 2%;
  background: #f1f2f3;
  object-fit: cover;
}

.hero {
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
}

.title-bar {
  max-width: 520px;
  margin: 64px auto 0 auto;
  text-align: center;
}

h1 {
  font-size: 52pt;
  font-weight: 800;
  letter-spacing: -0.75px;
  display: inline-block;
  line-height: 64px;
  margin: 0 0 0 16px;
  vertical-align: top;
}


.tagline {
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
}

.download-bar {

  max-width: 520px;
  margin: 36px auto;
  text-align: center;
}

.download:hover {
  opacity: 0.85;
}

.wide-bar {
  height: 32px;
  opacity: 0.25;
  background: #C2C7CB;
}

.wide-bar.blue {
  background: #0088D5;
}

.wide-bar.yellow {
  background: #FFDF5C;
}

.benefit {
  padding: 8px;
}

.benefit h2 {
  text-align: center;
}

.topline {
  font-size: 48pt;
  line-height: 48pt;
}

.bottomline {
}

.benefit .detail {
  max-width: 420px;
  margin: 64px auto;
  font-size: 10pt;
  text-align: center;
}

.benefit .examples {
  max-width: 760px;
  margin: 64px auto;
  box-sizing: border-box;
  padding: 16px 32px;
}

.benefit .examples .examples-column {
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.benefit .example {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 8px 20px;
  transform: translatey(0px);
}

.benefit .example:nth-child(1) {
  font-weight: 600;
  font-size: 16pt;
  margin-right: auto;
  animation: float 8s ease-in-out infinite;
}

.benefit .example:nth-child(2) {
  text-align: right;
  font-size: 26pt;
  color: #0088D5;
  margin-left: auto;
  animation: float 9.5s ease-in-out infinite;
  animation-direction: reverse;
}

.benefit .example:nth-child(3) {
  font-weight: 800;
  color: #F99548;
  margin-left: 48px;
  margin-right: auto;
  font-size: 14pt;
  animation: float 12s ease-in-out infinite;
  animation-direction: reverse;
}

.benefit .example:nth-child(4) {
  text-align: center;
  font-size: 24pt;
  color: #14b19e;
  margin-left: auto;
  margin-right: auto;
  animation: float 10s ease-in-out infinite;
}

.footer {
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
  font-size: 10pt;
  color: gray;
  padding: 64px;
}

.footer a {
  color: inherit;
}

.privacy-policy {
  padding: 16px;
  max-width: 560px;
  margin: 64px auto;
}

.privacy-policy h1 {
  text-align: left;
  margin: 32px 0;
  font-size: 24pt;
}

.reviews {
  font-size: 16pt;
  margin: 48px auto;
  padding: 16px;
  text-align: center;
}

.stars {
  color: #ff9502;
  letter-spacing: 2px;
  margin: 4px auto;
  max-width: 560px;
  text-align: center; 
  padding: 0 16px;
  box-sizing: border-box;
}

.stars.stars-left {
  text-align: left;
}

.stars.stars-right {
  text-align: right;
}

.reviews p {
  max-width: 560px;
  margin: 4px auto 4px auto;
}

.reviews img {
  display: block;
  margin: 16px auto;
  max-width: 520px;
}

.reviews a {
  display: block;
  margin-bottom: 72px;
  font-size: 12pt;
  color: gray;
}

.example-container .example-lead {
  text-align: center;
}

.background-image-container {
  position: relative;
}

.background-image-container img {
  object-fit: cover;
  position: absolute;
  border-radius: 8px; 
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.simplicity {
  text-align: center;
  max-width: 520px;
  margin: 128px auto 96px auto;
  padding: 16px;
}

.simplicity img {
  max-width: 240px;
  display: block;
  margin: 16px auto 36px auto;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 10px 0px rgba(0,0,0,0.2);
    transform: translatey(-4px);
  }
  100% {
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}