body {
    background: #fefefe;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    color: #0f135e;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    height: 20px;
    background: #5756D5;
    margin-bottom: 96px;
}

.images-header {
    max-width: 960px;
    margin: 64px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.images-header img {
    box-sizing: border-box;
    width: 18%;
    border: 5px solid black;
    border-radius: 25px;
    /* margin: 10px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
}


h1 {
    text-align: center;
    margin-top: 48px;
    font-size: 42px;
}

.tagline {
    font-size: 24px;
    text-align: center;
    margin-bottom: 38px;
}

a, a:visited {
    color: #5756D5;
    font-weight: bold;
}

.download-link {
    margin-bottom: 60px;
    text-align: center;
    display: block;
}

.download-link img {
    width: 160px;
}

.app-details {
    max-width: 600px;
    margin: 64px auto;
    padding: 8px;
}

.footer {
    max-width: 600px;
    margin: 32px auto;
    text-align: center;
}

.workouts-content {
    max-width: 720px;
    margin: 16px auto;
}

.install-instructions {
    margin-top: 64px;
    margin-bottom: 64px;
}

.workouts-content .hero-image {
    max-width: 100%;
    border-radius: 20px;
    max-height: 350px;
    object-fit: cover;
    width: 100%;
}

.workout-category-description {
    font-size: 1.1em;
    text-align: center;
    margin: 32px auto 64px auto;
}

.workout-entry {
    margin: 24px auto;
    padding: 36px 0 24px 0;
    border-top: 1px solid #eaeaea;
}

.workout-details {
    border: 1px solid #eaeaea;
    padding: 16px;
    border-radius: 10px;
}

.workout-step-key {
    width: 95px;
    background-color: #eaeaea;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 4px 8px;
    display: inline-block;
    font-size: 10pt;
    text-align: right;
    margin-right: 8px;
    font-weight: bold;
}

.workout-separator {
    height: 1px;
    background-color: #eaeaea;
}

.workout-cta-container {
    margin-top: 32px;
}

a.workout-cta, a.workout-cta:visited {
    background-color: #5756D5;
    color: white;
    text-decoration: none;
    padding: 16px;
    border-radius: 16px;
    display: inline-block;
    margin-bottom: 16px;
}

.workout-cta-instructions {
    color: #777;
    background-color: #eaeaea;
    padding: 16px;
    border-radius: 16px;
    font-size: 0.9em;
}

@media (max-width: 860px) {
    .images-header img:not(:first-child) {
        display: none;
    }

    .images-header img {
        width: 60%;
    }
}

.guides-container {
    margin-bottom: 150px;
}

.guide-step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10px;
    border-bottom: 10px solid  #f2f2f7;
    margin: 20px 0;
}

.guide-step img {
    border-radius: 10px;
}

.guides-footer {
    margin-top: 100px;
}