body {
	background: #fefefe;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.5;
	color: #010101;
  margin: 0;
  padding: 0;
}

.container {
	margin: 0 auto;
  padding-top: 72px;
  background-color: #fcf9fb;
  padding-bottom: 72px;
  border-bottom: 8px solid #f6f6f6;
}

h1 {
	font-size: 48pt;
	font-weight: 800;
	letter-spacing: 0px;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 0;
  color: black;
}

img {}

.crop {
	height: 270px;
	width: 472px;
  margin: 16px auto;
	overflow-x: hidden;
	overflow-y: hidden;
	border-radius: 2px;

	-webkit-box-shadow: 0 4px 2px -2px rgba(95,95,95,0.25);
	-moz-box-shadow: 0 4px 2px -2px rgba(95,95,95,0.25);
	box-shadow: 0 4px 2px -2px rgba(95,95,95,0.25);
}

p {
	font-size: 9pt;
	text-align: center;
}

a {
	color: #5F5F5F;
}

a:visited {
	color: #5F5F5F;
}

.footer {
	margin-top: 96px;
}

.tagline {
  font-size: 20px;
}

.faq-link {
  margin-top: 60px;
  color: gray;
}

.download-ab-dec {
  color: #ffffff;
  font-size: 18px;
  /* font-weight: bold; */
  background-color: #3FBA9A !important;
  box-shadow: 0 2px 3px rgba(115, 245, 206, 0.2);
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 12px;
  transition: all 0.2s ease;
}

.download-ab-dec:hover {
	transform: scale(1.02);
}

.download-ab-dec:visited {
	color: #ffffff;
}

.download-ab-dec img {
  margin-top: -2px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.download-vanilla-pro {
  margin: 0;
  margin-bottom: 24px;
  font-size: 14px;
}

.download-vanilla-pro a, .download-vanilla-pro a:visited {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.download-vanilla-pro a:hover {
  color: #222;
  background-color: #e0e0e0;
}

.vanilla-pro-container {
	background: #f6f6f6;
  padding: 36px 8px;
  text-align: left;
}

.vanilla-pro-container, .vanilla-pro-container p {
  font-size: 12pt;
  text-align: left;
  margin: 0;
}

.vanilla-pro-container .pro-content {
  margin: 0 auto;
  max-width: 720px;
}

.vanilla-pro-container h2 {
  font-size: 28pt;
  text-align: center;
}

.vanilla-pro-container .pro-feature {
  margin: 16px auto 32px auto;
  display: flex;
  align-items: center;
}

.vanilla-pro-container .pro-feature .pro-feature-left img {
  width: 60px;
  margin-right: 16px;
  opacity: 0.65;
}

.vanilla-pro-container .upgrade-prompt {
  text-align: center;
}


#amazing-desktops {
	width: 100%;
	max-width: 720px;
	margin: 96px auto;
}

#amazing-desktops p {
	margin-bottom: 32px;
}

#amazing-desktops #img-preview {
	max-width: 720px;
	margin: 0 auto;
}

#amazing-desktops .list {
	height: 106px;
	max-width: 720px;
	margin-top: 16px;
	display: flex;
	justify-content: space-evenly;
}

#amazing-desktops .list img {
	flex-shrink: 1;
	min-width: 0;
	object-fit: contain;
	object-position: 0 0;
	height: 106px;
}

#amazing-desktops .list img:not(:first-child) {
	margin-left: 8px;
}

#amazing-desktops .list img:hover {
	cursor: pointer;
	opacity: 0.9;
}

.testimonials {
  max-width: 500px;
  margin: 108px auto;
}

.testimonial {
  margin-bottom: 64px;
}

.testimonial:nth-child(1) {
  max-width: 390px;
  font-size: 15pt;
}

.testimonial:nth-child(2) {
  text-align: right;
}

.testimonial:nth-child(3) {
  max-width: 380px;
  font-size: 13pt;
}

.testimonial:nth-child(4) {
  font-size: 15pt;
  text-align: center;
}

.testimonial:nth-child(4) .source {
  text-align: center;
}

.testimonial .source {
  text-align: right;
  font-size: 9pt;
}


.testimonial:nth-child(3) .source {
  text-align: left;
}

.rocket-link {
  text-align: center;
  max-width: 300px;
  margin: 96px auto;
  border-top: 8px solid #f6f6f6;
  padding: 32px 0;
  border-bottom: 8px solid #f6f6f6;
  font-size: 10pt;
  color: gray;
}

.refer-friend {
  max-width: 500px;
  padding: 32px;
  background: white;
  font-size: 10pt;
  text-align: left;
}

.refer-friend p {
  text-align: left;
}

.refer-friend form {
  margin-top: 48px;
}

.screen-recording-help {
  max-width: 600px;
  font-size: 12pt;
  margin: 32px auto;
  padding: 8px;
  text-align: left;
  background-color: white;
}

.screen-recording-help h1 {
  font-size: 24pt;
  text-align: left;
  margin-bottom: 42px;
}

.screen-recording-help p {
  font-size: 12pt;
  text-align: left;
  line-height: 1.7;
  margin-bottom: 32px;
}

.screen-recording-help img {
      max-width: 100%;
    max-height: 320px;
    width: auto;
    display: block;
    margin: 4px auto;
}

.screen-recording-help .notification {
  border: 2px solid #0590ff;
  padding: 16px 20px;
  border-radius: 4px;
  margin-bottom: 48px;
  text-align: center;
  background-color: #cfeaff;
}

.screen-recording-help .notification p {
  line-height: 2.2;
}

.screen-recording-help .notification p a {
  color: black;
  font-weight: bold;
}

.help-container div h1 {
  text-align: left;
}
.help-container div p {
  text-align: left;
  font-size: 11pt;
}

.menubar-demo {
  max-width: 720px;
  margin: 0 auto;
}

.device-container {
  position: relative;
}

.device-background {
  border-top: 10px solid black;
  border-right: 10px solid black;
  border-radius: 2px 15px 2px 2px;
  box-shadow: 0 0 2px 2px rgba(95,95,95,0.25);
}

.device-background img {
  max-width: 100%;
  border-radius: 0 5px 0 0;
}

.menubar {
  background: rgba(255, 255, 255, 0.75);
  height: 40px;
  position: absolute;
  top: 10px;
  left: 0;
  right: 10px;
  border-radius: 0 5px 0 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  padding-left: 16px;
}

.menubar .leftmenu {
  display: flex;
  align-items: center;
}

.menubar .rightmenu {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.menubar .text-item {
  font-size: 10pt;
}

.menubar .menubar-item:not(:last-child):not(.vanilla-item) {
  margin-right: 20px;
}

.menubar .icon-with-text {
  display: flex;
  align-items: center;
  font-size: 9pt;
}

.menubar .icon-with-text img {
  margin-left: 4px;
}

.menubar .icon-only-item img {
  height: 14px;
}

.menubar .vanilla-item {
  margin-right: 20px;
}

.menubar .vanilla-item img {
  height: 10px;
}

.menubar .system-item img {
  height: 18px;
}

.menubar .system-text-item {
  font-size: 11pt;
  font-weight: 600;
  margin-top: 2px;
}

.menubar .hidden-icons {
  opacity: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 0;
  transition: opacity 0.2s ease;
}

.menubar .hidden-icons.show {
  display: flex;
  width: unset;
  margin-right: 16px;
  opacity: 1;
}

.menubar-chevron {
  display: flex;
  position: absolute;
  right: 20px;
  z-index: 999;
  top: 2px;
  transition: right 0.2s ease;
}

.menubar-chevron.left {
  right: 109%;
  transform: scaleX(-1);
}

.vanilla-dot-item img {
  height: 3px;
  width: 3px;
}

.hidden-items-chevron-container {
  position: relative;
}

@keyframes simulate-click {
  0%, 100% {
     opacity: 1;
  }
  50% {
     opacity: 0.5;
  }
}

.flash {
  animation: simulate-click 0.2s;
  -webkit-animation: simulate-click 0.2s;
  animation-fill-mode: forwards;
}