body {
	background: #fefefe;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.5;
	color: #010101;
  margin: 0;
  padding: 0;
}

.container {
	margin: 0 auto;
  padding-top: 72px;
  background-color: #fcf9fb;
  padding-bottom: 72px;
  border-bottom: 8px solid #f6f6f6;
}

h1 {
	font-size: 32pt;
	font-weight: 800;
	letter-spacing: 0px;
	text-align: center;
	margin-top: 48px;
	margin-bottom: 0;
  color: black;
}

img {}

.crop {
	height: 270px;
	width: 472px;
  margin: 16px auto;
	overflow-x: hidden;
	overflow-y: hidden;
	border-radius: 2px;

	-webkit-box-shadow: 0 4px 2px -2px rgba(95,95,95,0.25);
	-moz-box-shadow: 0 4px 2px -2px rgba(95,95,95,0.25);
	box-shadow: 0 4px 2px -2px rgba(95,95,95,0.25);
}

p {
	font-size: 9pt;
	text-align: center;
}

a {
	color: #5F5F5F;
}

a:visited {
	color: #5F5F5F;
}

.footer {
	margin-top: 96px;
}


.download-ab-dec {
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 400;
  background-color: #7DCB4F;
  border: 1px solid #70B747;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 10px;
  vertical-align: top;
  margin-top: 12px;
  margin-left: 15px;
}

.download-ab-dec:hover {
	background-color: hsla(98, 54%, 60%, 1);
}

.download-ab-dec:visited {
	color: #ffffff;
}

.side-by-side {
	max-width: 380px;
	margin: 96px auto;
	display: flex;
	background: #f6f6f6;
	border-radius: 8px;
	font-size: 8pt;
  padding: 48px;
  -webkit-box-shadow: 0 4px 2px -2px rgba(95,95,95,0.1);
  -moz-box-shadow: 0 4px 2px -2px rgba(95,95,95,0.1);
  box-shadow: 0 4px 2px -2px rgba(95,95,95,0.1);
}

.side-by-side div {
	
}

.side-by-side .basic {
	width: 35%;
	padding: 16px;
	padding-top: 36px;
}

.side-by-side .basic li {
	margin-bottom: 16px;
}

.side-by-side .pro {
}

.side-by-side .pro ul {
	padding-left: 32px;
}

.side-by-side .pro p {
	text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
}

.side-by-side .pro li {
	margin-bottom: 16px;
}

.side-by-side .pro .upgrade-prompt {
	text-align: center;
	margin-top: 48px;
}

.side-by-side .pro h3 {
	font-size: 26pt;
  font-weight: 800;
  text-align: center;
	color: black;
	margin: 0;
	padding: 32px 8px 8px 16px;
}

.side-by-side ul {
	padding-left: 16px;
}

#amazing-desktops {
	width: 100%;
	max-width: 720px;
	margin: 96px auto;
}

#amazing-desktops p {
	margin-bottom: 32px;
}

#amazing-desktops #img-preview {
	max-width: 720px;
	margin: 0 auto;
}

#amazing-desktops .list {
	height: 106px;
	max-width: 720px;
	margin-top: 16px;
	display: flex;
	justify-content: space-evenly;
}

#amazing-desktops .list img {
	flex-shrink: 1;
	min-width: 0;
	object-fit: contain;
	object-position: 0 0;
	height: 106px;
}

#amazing-desktops .list img:not(:first-child) {
	margin-left: 8px;
}

#amazing-desktops .list img:hover {
	cursor: pointer;
	opacity: 0.9;
}

.testimonials {
  max-width: 500px;
  margin: 108px auto;
}

.testimonial {
  margin-bottom: 64px;
}

.testimonial:nth-child(1) {
  max-width: 390px;
  font-size: 15pt;
}

.testimonial:nth-child(2) {
  text-align: right;
}

.testimonial:nth-child(3) {
  max-width: 380px;
  font-size: 13pt;
}

.testimonial .source {
  text-align: right;
  font-size: 9pt;
}


.testimonial:nth-child(3) .source {
  text-align: left;
}

.rocket-link {
  text-align: center;
  max-width: 300px;
  margin: 96px auto;
  border-top: 8px solid #f6f6f6;
  padding: 32px 0;
  border-bottom: 8px solid #f6f6f6;
  font-size: 10pt;
  color: gray;
}