body {
	background: #f7f7f7;
	font-family: 'Verdana', sans-serif;
	line-height: 1.5;
	color: #5F5F5F;
	padding-top: 36px;
}

.container {
	width: 520px;
	margin: 0 auto;
	padding: 16px;
}

h1 {
	font-size: 18pt;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 48px;
	margin-bottom: 0;
}

img {}

.crop {
	margin-left: 16px;
	height: 270px;
	width: 472px;
	overflow-x: hidden;
	overflow-y: hidden;
	border-radius: 2px;

	-webkit-box-shadow: 0 4px 2px -2px rgba(95,95,95,0.25);
	-moz-box-shadow: 0 4px 2px -2px rgba(95,95,95,0.25);
	box-shadow: 0 4px 2px -2px rgba(95,95,95,0.25);
}

p {
	font-size: 8pt;
	text-align: center;
}

a {
	color: #5F5F5F;
}

a:visited {
	color: #5F5F5F;
}

.footer {
	margin-top: 96px;
}


.download-ab-dec {
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 400;
  background-color: #7DCB4F;
  border: 1px solid #70B747;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 10px;
  vertical-align: top;
  margin-top: 12px;
  margin-left: 15px;
}

.download-ab-dec:hover {
	background-color: hsla(98, 54%, 60%, 1);
}

.download-ab-dec:visited {
	color: #ffffff;
}

.side-by-side {
	width: 520px;
	margin: 96px auto;
	display: flex;
	// border: 1px solid gainsboro;
	border-radius: 4px;
	font-size: 8pt;
}

.side-by-side div {
	
}

.side-by-side .basic {
	width: 35%;
	// border-right: 1px solid gainsboro;
	padding: 16px;
	padding-top: 36px;
}

.side-by-side .basic li {
	margin-bottom: 16px;
}

.side-by-side .pro {
	margin-left: 32px; 
}

.side-by-side .pro ul {
	padding-left: 32px;
}

.side-by-side .pro p {
	text-align: left;
    padding-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 16px;
}

.side-by-side .pro li {
	margin-bottom: 16px;
}

.side-by-side .pro .upgrade-prompt {
	text-align: center;
	margin-top: 16px;
	margin-bottom: 32px;
}

.side-by-side .pro h3 {
	font-size: 14pt;
	color: black;
	border-bottom: 4px solid gainsboro;
	margin: 0;
	padding: 32px 8px 8px 16px;
}

.side-by-side ul {
	padding-left: 16px;
}

#amazing-desktops {
	width: 100%;
	max-width: 720px;
	margin: 96px auto;
}

#amazing-desktops p {
	margin-bottom: 32px;
}

#amazing-desktops #img-preview {
	max-width: 720px;
	margin: 0 auto;
}

#amazing-desktops .list {
	height: 106px;
	max-width: 720px;
	margin-top: 16px;
	display: flex;
	justify-content: space-evenly;
}

#amazing-desktops .list img {
	flex-shrink: 1;
	min-width: 0;
	object-fit: contain;
	object-position: 0 0;
	height: 106px;
}

#amazing-desktops .list img:not(:first-child) {
	margin-left: 8px;
}

#amazing-desktops .list img:hover {
	cursor: pointer;
	opacity: 0.9;
}
