<div class="k8-article-footer">
  <div class="author-details">
    <h2>Meet the Author</h2>
    <p>
      <img width="50" height="50" src="https://i.imgur.com/YQyrzTm.jpg" />
      <a href="https://matthewpalmer.net">Matthew Palmer</a> is a software developer and author. 
      He’s created popular desktop apps, scaled SaaS web services, and taught Computer Science students at the University of New South Wales. 
    </p>
  </div>
  <div class="contact-details">
    <h2>Contact</h2>
    <p>Email: matt@matthewpalmer.net</p>
    <p>Twitter: <a href="https://twitter.com/_matthewpalmer">@_matthewpalmer</a></p>
    <p>Github: <a href="https://github.com/matthewpalmer">matthewpalmer</a></p>
  </div>
</div>