$maxWidth: 480px;
$headerFont: 'Avenir Next', 'Avenir', 'Helvetica', serif;

$sansFont: -apple-system, BlinkMacSystemFont, sans-serif;
$serifFont: $sansFont;

$black: #21201D;
$lightBlack: #4A4A4A;
$white: white;
$gray: gainsboro - 30;
$blue: #77C4D3;
$darkBlue: $blue - 50;
$codeBlue: gainsboro + 25;

@mixin fixBreak() {
  // Fix word breaks
  
   // -ms-word-break: break-all;
       // word-break: break-all;

       // Non standard for webkit
       // word-break: break-word;
/*
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;*/
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $serifFont;
  font-size: 15px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;

  color: $black;
  background: $white;
}

a {
  text-decoration: none;

}

header {
  // text-transform: uppercase;
  color: $blue;
  font-size: 10px;

  padding-left: 2%;

  & a {
    color: $blue;
  }

}

.blogIndexCol .recent-articles {
  list-style-type: none;
  padding-left: 2%;
  padding-right: 2%;

  border-top: 2px solid #efefef;
  padding-top: 64px;
}

.blogIndexCol .best-of {
  margin: 0 0 80px 0;
  padding: 0;
  list-style-type: none;

  li {
    margin-bottom: 32px;
  }

  h2 {
    margin: 0;
    background-color: #efefef;
    padding: 12px;
    color: 333333;
    background-color: #efefef;
  }

  h3 {
    margin-bottom: 0;
    font-size: 0.95em;
    margin: 16px 12px 0 12px;
  }

  blockquote {
    font-size: 0.85em;
    border-left: none;
    margin-left: 0px;
    margin-top: 4px;

    p {
      margin-top: 0;
    }
  }
}

.header-bar {
  margin-bottom: 48px;

  a {
    color: rgba(255, 255, 255, 0.99);
    font-size: 18px;
    margin: 16px;
    font-weight: 400;
    display: inline-block;
  }

  a:first-child {
    font-weight: 800;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
  }

  background-color: $blue;
  color: white;
  align-items: center;
}

.mainCol {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 10%;
  font-size: 0.95em;
  // @include fixBreak();


  & h1 {
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;

    // text-transform: uppercase;
  }

  & blockquote {
    border-left: 5px solid $blue;
    padding-left: 3%;
    color: $lightBlack;

  }

  & article {
    margin-top: 4%;
    margin-bottom: 24%;

  }

  & pre {
    border-top: 10px solid $blue;
    border-bottom: 10px solid $blue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $codeBlue;
    border-radius: 3px;
    font-size: 11px;
    overflow-x:scroll;
  }

  & a {
    color: $blue;

  }

  & a:hover {
      color: $blue - 50;
      // border-bottom: 1px solid $blue - 50;
    }

  & .longItem {
    color: $black;
  }

  .byline {
    color: $gray;
    width: 330px;
    margin-left: auto;
    position: relative;

    .avatar-small {
      border-radius: 50%;
      border: 1px solid gainsboro;
      height: 32px;
      display: inline-block;
      vertical-align: middle;
    }

    .byline-right {
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px;

    }

    time, .avatar-name {
      display: block;
    }

    time {
      font-size: 0.8em;
    }

    a {
      color: $gray;

      &:hover {
        color: $blue;
        text-decoration: none;
        border-bottom: none;
      }
    }
  }

  & p {
    margin-top: 5%;
    margin-bottom: 5%;
    // text-align: justify;

    & a {
      text-decoration: underline;
      // border-bottom: 1px solid $blue;
    }
  }

  & time {
    color: $gray;
  }

  & img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 500px;
  }

  & code {
    @include fixBreak();
  }

  & .onPostTitle {
    margin-bottom: 5%;
    display: block;
    text-align: center;
  }

}

#archive {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10%;
  margin-top: 3%;

  & table {
    margin-top: 2%;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $blue;
  }

  & td {
    border: 1px solid $blue;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
  }

  & thead {
    background-color: $blue;
    color: $white;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  & th {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  & td.date {
    width: 20%;
    text-align: right;
    padding-right: 5%;

  }

  & td.title {
    padding-right: 5%;
  }

  & td.categories {
    text-align: center;
  }
}