$maxWidth: 580px;
$serifFont: 'Merriweather', serif;
$sansFont: 'Open Sans', sans-serif;


$black: #21201D;
$lightBlack: #4A4A4A;
$white: white;
$gray: gainsboro - 30;
$blue: #77C4D3;
$darkBlue: $blue - 50;

@mixin fixBreak() {
  // Fix word breaks
   -ms-word-break: break-all;
       word-break: break-all;

       // Non standard for webkit
       word-break: break-word;
/*
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;*/
}


body {
  font-family: $serifFont;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;

  color: $black;
  background: $white;
}

a {
  text-decoration: none;

}

header {
  // text-transform: uppercase;
  color: $blue;
  font-size: 10px;

  padding-left: 2%;

  & a {
    color: $blue;
  }

}

.blogIndexCol > ol {
  list-style-type: none;
  padding-left: 2%;
  padding-right: 2%;
}

.mainCol {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 0 0 0;
  margin-bottom: 10%;
  font-size: 0.95em;
  // @include fixBreak();


  & h1 {
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5%;
    // text-transform: uppercase;
  }

  & blockquote {
    border-left: 5px solid $blue;
    padding-left: 3%;
    color: $lightBlack;

  }

  & article {
    margin-top: 4%;
    margin-bottom: 24%;

  }

  & a {
    color: $blue;

  }

  & a:hover {
      color: $blue - 50;
      border-bottom: 1px solid $blue - 50;
    }

  & .longItem {
    color: $black;
  }

  & time {
    margin-top: -3%;
    margin-bottom: 1%;
    display: block;
    color: $gray;

    text-align: center;

    & a {
      color: $gray;

    }

  }

  & p {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify;

    & a {
      border-bottom: 1px solid $blue;
    }
  }

  & time {
    color: $gray;
  }

  & img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 500px;
  }

  & code {
    @include fixBreak();
  }

  & .onPostTitle {
    margin-bottom: 5%;
    display: block;
    text-align: center;
  }

}

#archive {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10%;
  margin-top: 3%;

  & table {
    margin-top: 2%;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $blue;
  }

  & td {
    border: 1px solid $blue;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
  }

  & thead {
    background-color: $blue;
    color: $white;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  & th {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  & td.date {
    width: 20%;
    text-align: right;
    padding-right: 5%;

  }

  & td.title {
    padding-right: 5%;
  }

  & td.categories {
    text-align: center;
  }
}