html {
/*  background: rgba(234,119,87,0.45);
  background: -moz-linear-gradient(bottom, rgba(234,119,87,0.45) 0%, rgba(251,221,160,0.49) 7%, rgba(255,255,255,0.55) 18%, RGBA(255, 253, 255, 1) 100%);
  background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(234,119,87,0.45)), color-stop(7%, rgba(251,221,160,0.49)), color-stop(18%, rgba(255,255,255,0.55)), color-stop(100%, RGBA(255, 253, 255, 1)));
  background: -webkit-linear-gradient(bottom, rgba(234,119,87,0.45) 0%, rgba(251,221,160,0.49) 7%, rgba(255,255,255,0.55) 18%, RGBA(255, 253, 255, 1) 100%);
  background: -o-linear-gradient(bottom, rgba(234,119,87,0.45) 0%, rgba(251,221,160,0.49) 7%, rgba(255,255,255,0.55) 18%, RGBA(255, 253, 255, 1) 100%);
  background: -ms-linear-gradient(bottom, rgba(234,119,87,0.45) 0%, rgba(251,221,160,0.49) 7%, rgba(255,255,255,0.55) 18%, RGBA(255, 253, 255, 1) 100%);
  background: linear-gradient(to top, rgba(234,119,87,0.45) 0%, rgba(251,221,160,0.49) 7%, rgba(255,255,255,0.55) 18%, RGBA(255, 253, 255, 1) 100%);
*/}

body {
  font-family: sans-serif;
  line-height: 2;
  font-weight: 300;
  letter-spacing: 0.7px;
}

.container {
  margin-top: 80px;
  text-align: center;
  width: 100%;
}

.screenshot {
  display: inline-block;
  margin-left: 70px;
}

.text-content {
  width: 600px;
  text-align: left;
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 180px;
}

.footer {
  font-size: 0.7em;
  color: gray;
  margin-left: -20px;
  margin-bottom: 48px;
}

.footer a {
  color: gray;
}

.home-page-callout.footer {
  color: #333;
  padding: 24px 0;
  max-width: 420px;
  margin: 64px auto 128px auto;
  border-radius: 8px;
  font-size: 12pt;
  letter-spacing: 0;
}

.home-page-callout.footer a {
  color: inherit;
}

.tagline {
  color: #4E5862;
  font-size: 0.9em;
  font-weight: 300;
}

h1 {
  color: rgba(234,119,87,1);
}

h2 {
  color: rgba(234,119,87,1);
  font-size: 1.2em;
}

code {
  color: rgba(0,0,0,0.9);
  background-color: rgba(234,119,87,0.4);
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.download {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 400;
  background-color: #7DCB4F !important;
  border: 1px solid #70B747;
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 10px;
  vertical-align: top;
  margin-top: 12px;
  margin-left: 15px;
}

.icon {
  margin-left: -40px;
}

.testimonial-heading {
  margin-top: 60px;
  display: block;
  font-weight: 100;
  font-size: 12px;
  vertical-align: top;
  line-height: 40px;
  color: gray;
  margin-bottom: 24px;

  /*text-transform: uppercase;*/
}

.testimonial-list {
  display: flex;
  padding-left: 0px;
  margin-bottom: 40px;
  margin-top: 0;
  width: 700px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.testimonial-list li {
  list-style-type: none;
  color: #4E5862;
  margin-bottom: 64px;
  width: 350px;
  text-align: left;
}

.testimonial-list li a {
  color: inherit;
  text-decoration: none;
  margin-left: 36px;
}

.testimonial-list li h3 {
  margin: 0 0 0 4px;
  font-weight: 400;
  display: inline-block;

  margin-top: -18px;
  vertical-align: middle;

}

.testimonial-list li blockquote {
  line-height: 1.5;
  letter-spacing: 0;

  font-size: 0.85em;
  font-weight: 300;
  margin-top: 4px;
  color: gray;
}

.testimonial-list img {
  /*filter:         url(~"data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");*/
  /*-webkit-filter: grayscale(30%);*/
  /*-moz-filter:    grayscale(30%);*/
  /*-ms-filter:     grayscale(30%);*/
  /*-o-filter:      grayscale(30%);*/
  filter: gray;
  display: inline-block;
  border-radius: 2px;

  height: 30px;
  margin-top: 4px;
  opacity: 1;
}

.testimonial-list img:hover {
  /*filter: none;*/
  /*-webkit-filter: grayscale(10%);*/
  /*-moz-filter:    grayscale(10%);*/
  /*-ms-filter:     grayscale(10%);*/
  /*-o-filter:      grayscale(10%);*/
  /*cursor: pointer;*/
  /*opacity: 0.7;*/
}

.featured {
  display: block;
  font-size: 9pt;
  color: gray;
}

.details {
  background-color: RGBA(57, 65, 73, 1.00);
  display: flex;
  color: white;
  font-weight: 400;
  font-size: 0.9em;
  text-align: left;
  margin-top: 48px;
  margin-bottom: 64px;
}

.details h3 {
  font-size: 24pt;
  text-align: center;
}

.details-inner {
  box-sizing: border-box;
  padding: 64px 24px;
}

.divider {
  font-size: 50px;
  line-height: 42px;
  font-weight: 800;
  width: 50px;
  height: 50px;
  margin-top: 30%;
  color: RGBA(57, 65, 73, 1.00);
  text-align: center;
  border-radius: 50%;
  background-color: white;
}

.details img {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.left-details {
  background-color: white;
  color: #4E5862;
  /*padding: 0 24px 0 24px;*/
}

.right-details {
  flex-grow: 1;
}

.left-details img {
  padding-top: 40px;
  box-shadow: 0px 8px 16px 16px rgba(0,0,0,0.15);
}

.details-inner p {
  font-size: 0.8em;
  font-weight: 300;
}

.left-details p {
  color: gray;
}

.right-details p {
  color: rgba(255, 255, 255, 0.9);
  margin-left: 48px;
  margin-top: 24px;
}

.right-details a {
  color: inherit;
}

.right-details a:visited {
  color: inherit;
}

.help {
  color: #4E5862;
  letter-spacing: 0.1px;
  line-height: 1.7;
}

.help h2 {
  margin-top: 48px;
}

.help a {
  color: rgba(234,119,87,1);
}

.help .table-of-contents a {
  color: #4E5862;
  text-decoration: none;
}

.help .table-of-contents a:hover, .help .table-of-contents a:focus {
  text-decoration: underline;
}

.refer-friend {
  max-width: 600px;
  margin: 0 auto 64px auto;
  border-top: 16px solid gainsboro;
  padding: 64px 16px;
  text-align: left;
  line-height: 1.8;
  font-size: 0.8em;
  font-weight: normal;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.refer-friend h1 {
  color: #222;
}

.refer-friend form {
  margin-top: 48px;
}





.blind-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  color: #010101;
  font-weight: 400;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blind-container .blind-hero {
  display: flex;
  align-items: center;
  max-width: 660px;
  margin: 96px auto 0 auto;
  
}

.blind-container img {
  text-align: center;
}

.blind-container h1 {
  color: #010101;
  font-size: 56pt;
  margin-left: 16px;
  position: relative;
}

.blind-container .small-caps {
  font-size: 10pt;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;

  text-transform: uppercase;
  letter-spacing: 1px;
}

.blind-container .big-subtitle {
  max-width: 600px;
  text-align: center;
  margin: 16px auto;
  padding: 16px;
}

.blind-container h1 span {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: -16px;
  border: 1px solid #bfbebe;
  padding: 4px 8px;
  border-radius: 2px;
  background: gainsboro;
}

.blind-container h1 span.small-caps {
  font-size: 8pt;
  color: rgba(0, 0, 0, 0.5);
}

.blind-container h2 {
  font-size: 32pt;
  text-align: left;
  color: #010101;
  line-height: 1;
}

.blind-text-content {
  max-width: 460px;
  padding: 32px;
  text-align: left;
}

.blind-container .download {
  padding: 16px 32px;
  margin-bottom: 48px;
}

.blind-container .small-caps.listen-link {
  color: white;
}

.blind-container .listen-link {
  max-width: 180px;
  text-align: center;
  text-decoration: none;
  margin: 36px auto 96px auto;
  display: block;
  padding: 16px 24px;

  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  background: #0072F8;
  color: white;
  border-radius: 40px;
}

.beloved {
  color: rgba(0, 0, 0, 0.6);
  font-size: 10pt;
  margin: 64px 24px;
}

.blind-container .two-up {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.blind-container .two-up .left, .blind-container .two-up .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  
} 

.blind-container .two-up .left {
  border-right: 16px solid gainsboro;
  padding: 32px 64px 32px 32px;
}

.blind-container .two-up .right {
  padding: 8px;
}

.blind-container .lead-text {
  text-align: center;
  font-size: 14pt;
  color: #7F7F7F;
}

.blind-container .lead-text:nth-child(2) {
  margin-bottom: 36px;
}

.blind-container .testimonials {
  max-width: 600px;
  margin: 128px auto;
}

.blind-container .testimonials .quote {
  margin: 32px 32px 64px 32px;
}

.blind-container .testimonials .quote:nth-child(2) {
  text-align: right;
}

.blind-container .testimonials .author {
}

.rocket-snippet-table-header {
  margin-bottom: 0;
  margin-top: 40px;
}

.rocket-snippet-table-header + p {
  margin-top: 0;
}

.rocket-snippet-table thead {
  font-size: 14px;
  color:  gray;
}

.rocket-snippet-table tr > td {
  padding: 0 4px;
}

.rocket-snippet-table code {
  letter-spacing: 0;
}



.my-apps-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  margin: auto;
  margin-bottom: 40px;
}

.my-apps-list-section .my-apps-header {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 16px;
}

.my-apps-list-section .my-apps-footer {
  font-size: 14px;
  margin-bottom: 10px;
}

.my-apps-list-section .my-apps-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-image: url('background.svg'); */
  background-size: cover;
  padding: 8px;
  background-position-y: -100px;
  border-radius: 16px;
}

.my-app-item, .my-app-item:visited {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
  border-radius: 16px;
  color: gray;
  transition: all 0.2s ease;
  
}

.my-app-item:hover {
  transform: scale(1.025);
}

.my-app-item img {
  width: 96px;
}
