---
layout: blogindex
title: Blog
---

<!-- Show last 5 posts here -->
{% for post in site.posts limit: 10 %}
  {% if post.layout contains 'post' %}
  <li>
    <article>
      {% if post.link %}
          <h1><a href="{{ post.link }}" class="linkedItem">{{ post.title }}</a></h1>
          <time class="linkIndicator" datetime="{{ post.date }}"><a href="{{ post.url }}">λ –
             {{ post.date | date: '%B %e, %Y' }}

          </a></time>
        {% else %}
          <h1><a href="{{ post.url }}" class="longItem">{{ post.title }}</a></h1>
          <time datetime="{{ post.date }}"><a href="{{ post.url }}">
             {{ post.date | date: '%B %e, %Y' }}
            </a>
          </time>
        {% endif %}

        {{ post.content }}
    </article>
  </li>
  {% endif %}
{% endfor %}
<small><a href="/archive.html">Visit the archive for more posts.</a></small>