---
layout: blogindex
title: Blog
---

<!-- Show last 5 posts here -->
{% for post in site.posts limit: 10 %}
  <li>
    <article>
{% if post.link %}
          <h1><a href="{{ post.link }}" class="linkedItem">{{ post.title }}</a></h1>
          <span class="linkIndicator"><a href="{{ post.url }}">λ</a> – <time datetime="{{ post.date }}">
             {{ post.date | date: '%B %e, %Y' }}

            <!-- Whitespace added for code readability -->
            <!-- {% assign d = post.date | date: "%d" | plus:'0' %}
            {% assign m = post.date | date: "%B" %}

            {% case m %}
              {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
              {% when 'September' %}Sept
              {% else %}{{ post.date | date: "%b" }}
              {% endcase %}

              {{ d }},
            {{ post.date | date: "%Y" }} -->

          </time></span>
        {% else %}
          <h1><a href="{{ post.url }}" class="longItem">{{ post.title }}</a></h1>
          <time datetime="{{ post.date }}">
             {{ post.date | date: '%B %e, %Y' }}

            <!-- Whitespace added for code readability -->
            <!-- {% assign d = post.date | date: "%d" | plus:'0' %}
            {% assign m = post.date | date: "%B" %}

            {% case m %}
              {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
              {% when 'September' %}Sept
              {% else %}{{ post.date | date: "%b" }}
              {% endcase %}

              {{ d }},
            {{ post.date | date: "%Y" }} -->
          </time>
        {% endif %}

        {{ post.content }}
    </article>
  </li>
{% endfor %}
<small><a href="/archive.html">Visit the archive for more posts.</a></small>