@import "base.scss";

.container {
  width: 90%;
  margin-left: 5%;
  margin-top: 20%;
}

.feature {
  text-align: center;
}

h3 {
  margin: 20px 0 0 0;
  width: 66%;
  margin-left: 17%;
}

h3 span {
  top: -14px;
  padding: 0 10px;

}

ul {
  margin-top: 20%;
  margin-left: 26%;


  li {
    width: 20%;
  }
}

/**
======================
Content Pages
**/
#contentHeader {
  margin-top: -10%;
  top: 1%;
}

article {

  line-height: 1.5;


  p {
    margin-bottom: 5%;
    font-weight: 400;
  }
}