<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>{% if page.title %} {{ page.title }} | {% endif %} Matthew Palmer</title>
        <link rel="stylesheet" href="{{site.baseurl}}/styles.css" />
        <link rel="stylesheet" href="{{site.baseurl}}/font-awesome.min.css">


        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic' rel='stylesheet' type='text/css'>

        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
	</head>

	<body>
		<div id = "home"><a href="/"><i class="icon-home"></i></a></div>
		<div id="header">

			<h1>Matthew Palmer</h1>
			<h4>Hi, I'm a seventeen year old web and iOS developer from Australia.</h4>
		</div>

		

		<div id="content">

			{{ content }}

		</div>

		<div id="footer">
			
            
		</div>

	</body>

</html>
