---
layout: default
title: Home
---

<!doctype HTML>

<html>
	<head>
      <!-- Meta -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width">
      <meta name="p:domain_verify" content="96a0675d0592c513676fb27240150ead"/>
      <meta name="description" content="Matthew Palmer is a software developer who makes apps for the web, iPhone, and Mac.">

      <!-- Title -->
      <title>Matthew Palmer</title>

      <!-- Styles -->
      <link rel='stylesheet' media='screen' href='./styles/styles.css' />
      <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic' rel='stylesheet' type='text/css'>
      <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://matthewpalmer.net/feed.xml" />

      <!-- Fonts -->
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

      <!-- Javascript plugins -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

      {% include analytics.html %}
  </head>

	<body>
		<div class = "bigbox">
      <h1 class = "named">Matthew Palmer</h1>
      <div class="home-avatar-split">
        <h2 class="skilled">
          I’m a full stack software engineer who loves to make things for people.
          <br />
          I’ve worked with Atlassian, News Corp, and the University of NSW.
          <br />
          Feel free to email me, I have a <a href="/standing-invitation">standing invitation</a>.
        </h2>
        <img class="avatar-big" src="https://i.imgur.com/YQyrzTm.jpg" />
      </div>

      <div class="box-bio">
        <p>Want to make your Mac better? Check out <a href="/rocket">Rocket</a> and <a href="/vanilla">Vanilla</a>.
        <p>Or maybe you want some great <a href="https://github.com/matthewpalmer">JavaScript and Swift libraries</a>.
        <p>And if you’re looking for something to read, start with my <a href="/blog">top articles</a>.
      </div>
    </div>

    <div class = "container">
      <!-- Blog posts -->
      <div class = "postlist">
        <ul class="items wrap">
          <span class = "recentarticles postsnip">LATEST <em><a href="archive.html">ARTICLES</a> </em>&mdash;<em> <a href="../feed.xml">RSS</a></em></span>
          <br/>
          {{ content }}
        <br/>

        <p><br/><br/></p>
        <div class="bigButtonBar">
          <a class="postsLinks bigButtonLink" href="/blog/" title="Matthew Palmer — Blog">
            Top Articles
          </a>
          <a class="postsLinks bigButtonLink" href="/archive.html" title="Matthew Palmer — Archive">
            Archive
          </a>
        </div>
      </div>

      <!-- Project highlights -->
      <div class = "shotsarea">
      <span class = "recentarticles dribbblesnip">LATEST <em><a href="https://dribbble.com/mp">PROJECTS</em></a></span>
        <ul class="feed">
          <li>
            <a href='https://matthewpalmer.net/kubernetes-app-developer/'>
              <img src='/img/kube-book.png' alt = 'Kubernetes Book for application developers'>
            </a>
          </li>
          <li>
            <a href='https://matthewpalmer.net/vanilla'>
              <img src='/img/vanilla.png' alt = 'Vanilla - Hide menu bar icons on your Mac for free'>
            </a>
          </li>
          <li>
            <a href='https://matthewpalmer.net/rocket'>
              <img src='/img/rocket.png' alt = 'Rocket - Slack-style emoji everywhere on your Mac'>
            </a>
          </li>
          <li>
            <a href='/horo-free-timer-mac'>
              <img src='/img/horo.png' alt = 'Horo - timer app for Mac'>
            </a>
          </li>
<!--           <li>
            <a href='https://matthewpalmer.net/charter/'>
              <img src='/img/charter.png' alt = 'Charter - Swift Mailing List Client'>
            </a>
          </li> -->
          <li>
            <a href='https://itunes.apple.com/us/app/weekling-free-weekly-budget/id949338154?mt=8'>
              <img src='/img/weekling.png' alt = 'Weekling'>
            </a>
          </li>
          <li>
            <a href='https://matthewpalmer.net/blog/2015/03/01/the-end-for-combust/'>
              <img src='/img/combust.png' alt = 'Combust'>
            </a>
          </li>
        </ul>
      </div>
      <div id="shotsByPlayerId">

      </div>

      <!-- Footer -->
      <div class="foot">
        <a href="https://twitter.com/_matthewpalmer">Twitter</a> &nbsp; <a href="https://github.com/matthewpalmer">Github</a>&nbsp;<a href="https://matthewpalmer.net/kubernetes-app-developer/">Kubernetes for App Developers</a><br/>

      </div>

    <script type="text/javascript">
      $('#postsDropDown').click(function() {
        $('.postlist').slideToggle({
          'easing': 'swing'
        });
      });
    </script>
  </body>
</html>
