---
layout: notes
---
<html>
  <head>
    <title>{{ page.title }} — Matthew Palmer</title>
    <!-- $META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    {% include analytics.html %}
  </head>
  <body>
    <h1><a href = '/notes/'>Matthew Palmer — Notes</a></h1>

    <div class="notes">
      <h1><a href="{{ page.url }}" class="longItem">{{ page.title }}</a></h1>
      <time datetime="{{ page.date }}"><a href="{{ page.url }}">
         {{ page.date | date: '%B %e, %Y' }}
        </a>
      </time>
      <article>{{ content }}</article>
    </div>
  </body>
</html>