---
layout: postdefault
---

<div class="post">

    <h2 id="postTitle">{{ page.title }}</h2>
    <div class="entry">{{ content }}</div>

    
<div class="category">
	<br/><br/><br/>
	<strong>Related Posts:</strong>

	<ul>
            {% for post in site.categories[page.category] %}
            {% if page.title == post.title %}
                
                {% else %}
                <br/>
                &nbsp;<a class="relatedLinks" href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a><br/>
                {% endif %}
            
            {% endfor %}
        </ul>
</div>
</div>
