<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>{% if page.title %} {{ page.title }} | {% endif %} Matthew Palmer</title>
        <link rel="stylesheet" href="{{site.baseurl}}/styles.css" />
        <link rel="stylesheet" href="{{site.baseurl}}/font-awesome.min.css">


        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic' rel='stylesheet' type='text/css'>

        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
	</head>

	<body>
		<div id = "home">
		
		<ul class = "list">
        
        <li><a href="/"><i class="icon-home"></a></i>  <!-- TOP LAYER -->
        <!--<div id="arrowdown"><i class="icon-caret-down"></i></div>-->
        <ul>
                <li><a href="http://twitter.com/p_almer"><i class="icon-twitter"></a></i></li> <!--  DROP DOWN MENU -->
                <li><a href="http://github.com/matthewpalmer"><i class="icon-github"></a></i></li>
                <li><a href="mailto:matt@palmer.im"><i class="icon-envelope-alt"></a></i></li>
            </ul>
        
        </li>
        

    	</ul>

		
		</div>

		<div id="content" class="postcontent">

			{{ content }}

		</div>

		<div id="footer">
			
            
		</div>

	</body>

</html>
