---
layout: post
---

<html>
  <head>
    <title>{{ page.title }} — Matthew Palmer</title>
    <!-- $META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' href='/styles/blog/css/styles.css' />
    <link rel='stylesheet' href='/styles/blog/css/syntax.css' />

    {% include analytics.html %}
  </head>
  <body>
    {% include header_bar.html %}

    <div class='mainCol'>

        {{ content }}

    </div>
  </body>
</html>