---
layout: they_use_that_base
---

<!doctype HTML>

<html>
	<head>
      <!-- Meta -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="p:domain_verify" content="96a0675d0592c513676fb27240150ead"/>

      <!-- Title -->
      <title>{{ page.title }} — They Use That</title>
      <meta name="description" content="{{ page.meta_description }}"/>

      <link href="https://fonts.googleapis.com/css?family=Lato:400,700", rel="stylesheet" />
      <link href="/they-use-that/public/styles/reader_base.css", rel="stylesheet" />

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110472218-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110472218-2');
      </script>
  </head>

	<body>
    <div class="page_breadcrumbs">
      <div class="breadcrumbs">
        <a href="/">Home</a><span>›</span>
        <a href="/they-use-that">They Use That</a>

        {% if layout.breadcrumb %}
          <span>›</span>
          <a href="{{ page.url }}">{{ page.title }}</a>
        {% endif %}
      </div>

      <a href="mailto:theyusethat@matthewpalmer.net?subject=Suggestion for They Use That" class="right-action rounded-button secondary">Suggestions?</a>
    </div>

    <div class="page_center">
      {{ content }}
    </div>
  </body>
</html>
