body {
  font-family: "Avenir Next", "Avenir",  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  background-color: #fafafa;
  color: #3c403e; }

#name {
  font-size: 3.5em;
  font-weight: 400; }

.subtitle {
  font-weight: 400;
  color: #9d9b94; }

h3 {
  border-top: 1px solid #bbb9b2; }

h3 span {
  position: relative;
  background: #fafafa; }

a {
  text-decoration: none;
  color: inherit; }

ul.linksList {
  list-style-type: none;
  color: #bbb9b2;
  font-weight: 400; }
  ul.linksList li {
    display: inline-block; }
  ul.linksList a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #fafafa;
    border-color: none; }
  ul.linksList a:hover {
    color: #3e6fa6;
    border-color: #3e6fa6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out; }

article {
  color: #3c403e;
  font-weight: 400; }
  article a {
    color: #3e6fa6;
    border-bottom: 1px solid #3e6fa6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -transition: all 0.2s ease-in-out; }
  article a:hover {
    background-color: #3e6fa6;
    color: #fafafa; }
  article ul {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%; }
  article li {
    width: 100%;
    line-height: 1.7; }

.container {
  width: 90%;
  margin-left: 5%;
  margin-top: 20%; }

.feature {
  text-align: center; }

h3 {
  margin: 20px 0 0 0;
  width: 66%;
  margin-left: 17%; }

h3 span {
  top: -14px;
  padding: 0 10px; }

ul {
  margin-top: 20%;
  margin-left: 26%; }
  ul li {
    width: 20%; }

/**
======================
Content Pages
**/
#contentHeader {
  margin-top: -10%;
  top: 1%; }

article {
  line-height: 1.5; }
  article p {
    margin-bottom: 5%;
    font-weight: 400; }
